{% extends "base.html" %}
{% block title %}
<title>NeuroVault: Annotation - FAQ</title>
{% endblock %}
{% block content %}
     
            <div class="lead">
                <h3>What am I looking at?</h3>
            </div>
                <p>This is a demo for a NeuroVault annotation portal. We can streamline this workflow, integrated with the <a href="http://www.hypothes.is" target="_blank">hypothes.is</a> API, and (possibly) integrate it into NeuroVault.</p>

            <div class="lead">        
                <h3>Where does the data come from?</h3>
            </div>
                <p>The collections data comes by way of a pandas dataframe, which is retrieved directly from the <a href="https://github.com/NeuroVault/pyneurovault/blob/master/examples/dois_example.py" target="_blank">NeuroVault API</a>. The data is loaded from a pickle file to maximize performance, so collections, DOIs, and updated meta-data added after 8/20/2015 will not be represented. Integration into NeuroVault itself will mean that the collections will come by way of Django queries directly to the database, allowing for real-time stuffs.</p>

            <div class="lead">        
                <h3>What should I do?</h3>
            </div>
                <p>Each tab <a href="/">here</a> represents a collection, and you will see that there is a counter for the number of annotations missing (red) and provided (green). By clicking on a collection name, the interface will render the fields that are missing annotations. The job of the annotator is to follow the link of the collection paper, and annotate missing data with <a href="http://www.hypothes.is" target="_blank">hypothes.is</a> (see link to sign up and learn how to use it).</p>


            <div class="lead">        
                <h3>How should I annotate?</h3>
            </div>
                <p>We want to do our annotations based on a standard terminology, and so we are going to use the meta-data fields that are provided in NeuroVault as our annotation "tags." When Hypothes.is is streamlined for this kind of use, we will be able to provide them with a list like this one, however for now the tags are open response, and it is your job to write in the correct field name for your annotation.</p>

            <div class="lead">        
                <h3>Then what happens?</h3>
            </div>
                <p>When the main page is rendered, it programatically retrieves a json that has annotations for all of the collections. In the case that an annotation has been made, it will fill in the value of the data frame, and the interface will be updated that the annotation is no longer needed. In some "actual" implementation, we would have these annotations getting added to the appropriate fields in the NeuroVault database. For now they live in the Hypothes.is database.</p>

{% endblock %}
