{% extends "base.html" %}
{% block content %}

<h2>Annotation Portal</h2>        
<div class="lead">
    <p>This is a demo for a NeuroVault annotation portal. For more information, see the <a href="/faq">FAQ</a></p>
</div>      

<!-- Each paper will have a tab-->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% for collection in collections %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ collection.collection_id }}" aria-expanded="true" aria-controls="{{ collection.collection_id }}">
          {{ collection.name }}
                </a>
            </h4>
        </div>
        <div id="{{ collection.collection_id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="col-md-4">
                <h3>Missing Annotations</h3>
                {% for key, value in collection.iteritems() %}
                    {% if value == "None" or value == "nan" %}
                       <dd>{{ key }}</dd>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="col-md-4">
                    <h3>Authors</h3>
                    <dd>{{ collection.authors }}</dd>
                    <h3>Journal</h3>
                    <dd>{{ collection.journal }}</dd>
                </div>
                <div class="col-md-4">
                   <a href="{{ collection.url }}" target="_blank">
                      <button class="btn btn-default" type="button">Annotate</button>
                   </a>
                </div>
             </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
