{% extends "base.html" %}
{% block content %}

<h2>Annotation Portal</h2>        
<div class="row">
    <div class="col-md-10">
        <div class="lead">
        <p>This is a demo for a NeuroVault annotation portal. For more information, see the <a href="/faq">FAQ</a></p>
        </div>
</div>
{% if annotations %}

        <!-- Annotation Modal -->
        <div id='annotation_modal' class='modal' data-backdrop='static' style='margin-top: 175px;'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="hideModal()">&times;</button>
                        <h4 class="modal-title">Annotations</h4>
                    </div>
                    <div class='modal-body'>
                        <div class="well">
                            <div class="row">
		                <div class="col-md-2">
		                     <h2>Annotations</h2>
		                </div>
		                <div class="col-md-4 float-right-wrapper" style="padding-left:85px;margin-top:20px">
		                     <button class="btn btn-small btn-success" style="opacity:1.0" disabled>{{ fields.collection.present }}</button>
		                     <button class="btn btn-small btn-danger" style="opacity:1.0" disabled>{{ fields.collection.missing }}</button>
		                </div>
                            </div>
                           {% for url, annots in annotations.iteritems() %}
                               {% for annot in annots %}
                                   {% for annot_name, annot_value in annot.tags.0.iteritems() %}
                                       {% if annot.image_id != None %} 
                                       <dt>{{ annot_name}}[{{ annot.image_id.0 }}]</dt>
                                       {% else %}
                                       <dt>{{ annot_name }}</dt>
                                       {% endif %}
                                       <dd>{{ annot_value }}</dd>
                                  {% endfor %}                        
                              {% endfor %}
                          {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="float-right-wrapper">
                            <a href="/collection/{{ fields.collection.id }}">
                                <button class="btn btn-default" type="button">View</button>
                            </a>
                       </div>
                   </div>
                </div><!--Close modal content-->
            </div>
        </div><!-- close modal -->

        <script>
        $(document).ready(function() {
            showModal();
        });
        </script>

        {% endif %} 
</div>
{% for collection in collections %}
<div class="row">
    <div class="col-md-8 well">
        <p class="well" style="background-color:white; margin-bottom:0px;padding:10px">
            <a href="/collection/{{ collection.collection_id }}">{{ collection.name }}</a>
        </p>
    </div>
    <div class="col-md-2" style="padding-top:6px">
    </div>
    <div class="col-md-2" style="padding-top:6px">
        <a href="/annotate/{{ collection.collection_id }}">
            <button class="btn btn-default" type="button">Quick View</button>
        </a>
        <a href="/collection/{{ collection.collection_id }}">
            <button class="btn btn-default" type="button">View</button>
        </a>
    </div>
</div>
{% endfor %}

</div>
<script>
function showModal(upload_type) {
    document.getElementById('annotation_modal').style.display = 'block';
    document.getElementById('fade').style.display = 'block';
}
function hideModal() {
    document.getElementById('annotation_modal').style.display = 'none';
    document.getElementById('fade').style.display = 'none';
}
</script>
{% endblock %}
